body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f8f9fa;
    padding: 0.5em 0;
    margin-bottom: 1.5em;
}
header a {
    margin: 0 0.5em;
    color: #333;
}
h1 {
    color: #007bff;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode a {
    color: #ddd;
}

header.container {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

button#toggle-theme {
    background-color: #a0ceff;
    height: 100%;
    margin-left: auto;
}

body.dark-mode button#toggle-theme {
    background-color: #333;
    color: #fff;
}